# IDE
.vscode
.idea

# dependencies
vendor
composer.lock

# tests
build
coverage
phpunit.xml
testbench.yaml
.phpunit.result.cache
.phpunit.cache
phpstan-baseline.neon

# other
BACKUP
TODO
Makefile
.github/img/socialcard.xcf
